<div class="grid sm:grid-cols-1 gap-y-[20px] md:grid-cols-3 gap-x-12 mt-[100px] max-w-6xl mx-auto">
    <div class="group" onclick="">
      <div class="h-96">
      <button class="inline-block rounded-lg 
      transition ease-in-out delay-50 
      hover:-translate-y-1 group-hover:scale-105">
        <img class="w-full h-full rounded-3xl object-cover" src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"/>
      </button>
    </div>
    <h3 class="text-center mt-5 mb-[8] font-medium"> Iphone 14</h3>
    <span class ="block text-center text-gray-400 text-2xl">Top 1 Sale</span>
  </div>
  <div class="group">
    <div class="h-96">
      <button class="inline-block rounded-lg 
      transition ease-in-out delay-50 
      hover:-translate-y-1 group-hover:scale-105">
        <img class="w-full h-full rounded-3xl object-cover" src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"/>
      </button>
  </div>
  <h3 class="text-center mt-5 mb-[8] font-medium"> Iphone 14</h3>
  <span class ="block text-center text-gray-400 text-2xl">Top 2 Sale</span>
</div>
<div class="group">
  <div class="h-96">
    <button class="inline-block rounded-lg 
    transition ease-in-out delay-50 
    hover:-translate-y-1 group-hover:scale-105">
      <img class="w-full h-full rounded-3xl object-cover" src="https://images.unsplash.com/photo-1511707171634-5f897ff02aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80"/>
    </button>
    </div>
<h3 class="text-center mt-5 mb-[8] font-medium"> Iphone 14</h3>
<span class ="block text-center text-gray-400 text-2xl">Top 3 Sale</span>
</div>
  </div>